<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/contacts.min.css">
  <link rel="stylesheet" href="css/style.min.css">
</head>

{% include ('app/module/_header/header.html') %}

<body>
  <main class="main">

     {% include ('app/module/_top/top.html') %}

    <section class="map">
      <div class="container">
        <div id="map"></div>
      </div>
    </section>


    <section class="contact">
      <div class="container">
        <div class="contact__inner">
          <div class="contact__info">
            <h3 class="contact__info-title">
              Feel Free Don’t
              Hesitate To
              Contact With Us
            </h3>
            <p class="contact__info-text">
              Lorem ipsum dolor sit amet, consectetur adingn elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
              Quis ipsum suspendisse ultrices gravida. Risus commodo maecnaacnrao cumsan lacus vel facilisis.
            </p>
            <ul class="contact__info-list">
              <li class="contact__info-item contact__info-item--tel">
                <a class="contact__info-tel" href="tel:+0-123-456-7896">+0-123-456-7896</a>
                <a class="contact__info-tel" href="tel:+0-123-456-7896">+0-123-456-7896</a>
              </li>
              <li class="contact__info-item contact__info-item--adress">
                Ranlon Market 789 Road,
                Market Street, Newyork
              </li>

              <li class="contact__info-item contact__info-item--email">
                <div>yourmailaddress@gmail.com</div>
                <div>companymail@gmail.com</div>
              </li>
            </ul>

          </div>
          <form action="" class="contact__form">
            <p class="contact__form-title">Contact Form</p>

            <div class="contact__form-box">
              <input type="text" class="contact__form-input" placeholder="Your Name">
              <input type="text" class="contact__form-input" placeholder="Your E-mail Address">
            </div>
            <input type="text" class="contact__form-input" placeholder="Subject">
            <textarea class="contact__form-textarea" placeholder="Message here"></textarea>

            <button class="contact__form-btn" type="submit">SEND MESSAGE</button>

          </form>
        </div>
      </div>
    </section>




  </main>

  {% include ('app/module/_footer/footer.html') %}




  <script async src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap" defer></script>

  <script>
    let map;

    function initMap() {
      map = new google.maps.Map(document.getElementById("map"), {
        center: { lat: 40.71926462622692, lng: -74.01127324370553 },
        zoom: 10,
        styles: [
          {
            "featureType": "all",
            "elementType": "geometry",
            "stylers": [
              {
                "color": "#e6caef"
              }
            ]
          },
          {
            "featureType": "all",
            "elementType": "labels.text.fill",
            "stylers": [
              {
                "gamma": 0.01
              },
              {
                "lightness": 20
              }
            ]
          },
          {
            "featureType": "all",
            "elementType": "labels.text.stroke",
            "stylers": [
              {
                "saturation": -31
              },
              {
                "lightness": -33
              },
              {
                "weight": 2
              },
              {
                "gamma": 0.8
              }
            ]
          },
          {
            "featureType": "all",
            "elementType": "labels.icon",
            "stylers": [
              {
                "visibility": "off"
              }
            ]
          },
          {
            "featureType": "landscape",
            "elementType": "geometry",
            "stylers": [
              {
                "lightness": 30
              },
              {
                "saturation": 30
              }
            ]
          },
          {
            "featureType": "poi",
            "elementType": "geometry",
            "stylers": [
              {
                "saturation": 20
              }
            ]
          },
          {
            "featureType": "poi.park",
            "elementType": "geometry",
            "stylers": [
              {
                "lightness": 20
              },
              {
                "saturation": -20
              }
            ]
          },
          {
            "featureType": "road",
            "elementType": "geometry",
            "stylers": [
              {
                "lightness": 10
              },
              {
                "saturation": -30
              }
            ]
          },
          {
            "featureType": "road",
            "elementType": "geometry.stroke",
            "stylers": [
              {
                "saturation": 25
              },
              {
                "lightness": 25
              }
            ]
          },
          {
            "featureType": "water",
            "elementType": "all",
            "stylers": [
              {
                "lightness": -20
              }
            ]
          }
        ]
      });
    }
  </script>

  <script src="js/main.min.js"></script>
</body>

</html>