<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/index.min.css">
</head>
<body>
{% include ('app/module/_header/header.html') %}

<main class="main"> 
 {# {% include ('app/module/_top-slider/top-slider.html') %}
  {% include ('app/module/_categories-info/categories-info.html') %}
  {% include ('app/module/_video-fashion/video-fashion.html') %}
    {% include ('app/module/_product/product.html') %}
{% include ('app/module/_promo/promo.html') %}
{% include ('app/module/_blog/blog.html') %} #}
   
  

  


  


</main>

{% include ('app/module/_footer/footer.html') %}





  <script src=" js/main.min.js "></script>
</body>

</html>